/* Create Workout Modal Styles */

.modalIcon {
  color: var(--mantine-color-blue-6);
}

.modalActions {
  border-top: 1px solid light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-5));
}

/* Day Selection Paper */
.daySelectionPaper {
  background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-7));
}

.daySelectionIcon {
  color: var(--mantine-color-blue-6);
}

/* Day Radio Option */
.dayRadioOption {
  padding: var(--mantine-spacing-xs) var(--mantine-spacing-sm);
  border-radius: var(--mantine-radius-sm);
  transition: background-color 150ms ease;
}

.dayRadioOption:hover {
  background-color: light-dark(var(--mantine-color-gray-1), var(--mantine-color-dark-6));
}

/* Template Info Paper */
.templateInfoPaper {
  background-color: light-dark(var(--mantine-color-blue-0), var(--mantine-color-dark-7));
  border-color: light-dark(var(--mantine-color-blue-2), var(--mantine-color-dark-5));
}
