/* Create Template Modal Styles */

.publicSwitch {
  background: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-6));
  border-radius: var(--mantine-radius-sm);
  border: 1px solid light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-5));
}

.modalActions {
  border-top: 1px solid light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-5));
}
